/*
   GTakPM
   (c) Benjamin Stein 1994
   All Rights Reserved
   RSL.rc
*/

#include <os2.h>
#include <Resources.h>

POINTER GTPM_ICO        .\ICON\GTAKPM.ICO
POINTER FOLDER_ICO      .\ICON\FOLDER.ICO
POINTER FOLDER_INC_ICO  .\ICON\FOLDER_INC.ICO
POINTER FOPEN_ICO       .\ICON\FOPEN.ICO
POINTER FOPEN_INC_ICO   .\ICON\FOPEN_INC.ICO
POINTER FILE_ICO        .\ICON\FILE.ICO
POINTER FILE_INC_ICO    .\ICON\FILE_INC.ICO
POINTER HD_ICO          .\ICON\HD.ICO
POINTER HD_INC_ICO      .\ICON\HD_INC.ICO
POINTER CD_ICO          .\ICON\CD.ICO
POINTER CD_INC_ICO      .\ICON\CD_INC.ICO
POINTER DONTKNOW_ICO    .\ICON\DONTKNOW.ICO

BITMAP  GTPM_LOGO       .\BITMAP\GTAKPM.BMP

/* menus */
rcinclude menus.rc

/* end of source */
